@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ranade-Variable";
  src: url("src/assets/fonts/Ranade-Variable.woff2") format("woff2");
  font-display: normal;
  font-style: normal;

  font-family: "Switzer-Variable";
  src: url("src/assets/fonts/Switzer-Variable.woff2") format("woff2");
  font-display: normal;
  font-style: normal;
}

* {
  /* border: 1px solid red; */
}
